---
title: "Simband"
nav:
  - 'simband-documentation'
  - 'development-kits'
  - 'simband-changelog'
  - 'faq'
---
%header.simband.landing-header
  .mask
    %h1 Advanced algorithms. Advanced sensors. Advanced data.
    %p Build algorithms that analyze data from multiple sensors in real-time. Learn how to collect data continuously or through spot checks, then visualize that data, show trends and influence behavior.

    %a.button{href: '/simband/simband-documentation/writing-algorithms-using-simband-api.html'} Write your first algorithm &raquo;

%section.landing-subheader
  %a.landing-block{href: '/simband/simband-documentation/simband-sami.html'}
    %h2 Connected to SAMI
    %p SAMI is a data exchange platform. With the SAMI APIs we have developed, you can quickly start building applications and generating insights from the data you collect with Simband.
    %span.learn-more Read More

%section.landing-links
  %ul
    %li
      %a.landing-block{href: '/simband/simband-documentation'}
        .section-image
          %img{src: "/images/landing/documentation.png"}
        %h2 Documentation
        %p Learn about writing Simband applications
        %span.learn-more Read More
    %li
      %a.landing-block{href: '/simband/simband-documentation/simband-source-code.html'}
        .section-image
          %img{src: "/images/landing/code-samples.png"}
        %h2 Source Code
        %p Get started! Play with and adapt our code to your own ideas
        %span.learn-more Read More
    %li
      %a.landing-block{href: '/simband/development-kits.html'}
        .section-image
          %img{src: "/images/landing/hardware-kit.png"}
        %h2 Hardware Kits
        %p Order a Simband development kit
        %span.learn-more Read More
    %li
      %a.landing-block{href: '/bioinformatics'}
        .section-image
          %img{src: "/images/landing/data-center.png"}
        %h2 Bioinformatics
        %p Access the health data repository we are actively building with Simband
        %span.learn-more Read More

%footer.footer
  = partial :footer
